In [3]:
# Boolean
bool1 = False
print(bool1)
print(type(bool1))

False
<class 'bool'>

In [6]:
#String
test = "Pengenalan Python"
print(test)
print(type(test))

Pengenalan Python
<class 'str'>

In [62]:
#integer
inte = -1
print(inte+3)
print(inte)
print(type(inte))

2
-1
<class 'int'>

In [10]:
#float
fl = 3.14
print(fl)
print(type(fl))

3.14
<class 'float'>

In [27]:
#list
#data untauan yang menyimpan tipe data
# list1 = [1,2,3,"isi",3.14]
# print(list1)
# list1.append(10)
# print(list1)
# list1.pop(5)
# print(list1)
# print(len(list))
# print(list[2])
# # print(list)
# print(type(list))

# import numpy as np
list2 = np.array([3,2,1],[3,2,1])
# print(list2)
# print(type(list2))
# print(list2/2)
# print(list1/2)

[1, 2, 3, 'isi', 3.14]
[1, 2, 3, 'isi', 3.14, 10]
[1, 2, 3, 'isi', 3.14]

In [29]:
#tuple
tuple1 = (1,2,3)
print(tuple1)
print(type(tuple1))

(1, 2, 3)
<class 'tuple'>

In [40]:
#dictionary
Person
person
_person = {
    "nama":"mahasiswa",
    "kelas":"IFXXXXX",
    "nim":"13011XXXX",
    "nilai":[
             ["mtk",90],["bindo",70]
    ]
}
print(person)
print(type(person))
print(person['nilai'][0][1])

{'nama': 'mahasiswa', 'kelas': 'IFXXXXX', 'nim': '13011XXXX', 'nilai': [['mtk', 90], ['bindo', 70]]}
<class 'dict'>
90

In [44]:
#if condition
num = 5
if(num > 0):
  print("positif")

#short hand if
if(num > 0): print("bil pos")

positif
bil pos

In [47]:
# if else condition
num = -1

# if (num > 0):
#   print("positif")
# else:
#   print("negatif")

#short hand if
print("postif") if(num > 0) else print("negatif")

negatif
negatif

In [50]:
#elif condition

num1 = 2
num2 = 2

# if(num1 > num2):
#   print("num1 lebih besar")
# elif(num1 == num2):
#   print("num1 dan num2 sama")
# else:
#   print("num1 dan num2 sama")

#short
print("num1 lebih besar") if(num1 > num2) else print("num1 dan num2 sama") if(num1 == num2) else print("num1 dan num2 sama")

num1 dan num2 sama

In [51]:
test = True
if(test):
  print("dia true")
else:
  print("false")

dia true

In [53]:
list1 = [1,2]
if not list1:
  print("kosong")
else:
  print("ada kok")

ada kok

In [54]:
x = input()
print(type(x))

1
<class 'str'>

In [61]:
y = complex(input())
print(2+y)
print(type(y))

3
(5+0j)
<class 'complex'>